#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&caps_word { continue-list = <BACKSPACE DELETE N V M H Z>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp TAB    &kp Q     &kp W  &kp E         &kp R      &kp T      &kp Y        &kp U          &kp I      &kp O       &kp P     &kp LBKT
&kp LCTRL  &kp A     &kp S  &kp D         &kp F      &kp G      &kp H        &kp J          &kp K      &kp L       &kp SEMI  &kp APOS
&kp LGUI   &kp NUBS  &kp Z  &kp X         &kp C      &kp V      &kp N        &kp M          &kp COMMA  &kp PERIOD  &kp FSLH  &kp RBKT
                            &mt LALT ESC  &lt 2 DEL  &kp LSHFT  &lt 1 SPACE  &mt RALT BSPC  &kp RET
            >;
        };

        NumSym {
            bindings = <
&trans  &kp EXCL  &kp AT  &kp POUND  &kp DLLR      &kp PERCENT  &kp CARET  &kp AMPS   &kp STAR   &kp LPAR  &kp RPAR  &none
&trans  &kp N1    &kp N2  &kp N3     &kp N4        &kp N5       &kp N6     &kp N7     &kp N8     &kp N9    &kp N0    &none
&trans  &none     &none   &kp GRAVE  &kp RA(SPACE) &none        &none      &kp MINUS  &kp EQUAL  &none     &none     &to 3
                          &trans     &trans        &trans       &trans     &trans     &trans
            >;
        };

        NavMouse {
            bindings = <
&trans  &kp LC(N)     &kp LC(PERIOD)  &kp LC(RBKT)  &kp LC(LS(RBKT))  &kp LC(Y)  &kp C_VOL_UP  &kp PG_UP  &kp UP    &kp PG_DN  &kp C_AL_CALC  &kp C_NEXT
&trans  &kp LC(A)     &kp LC(LBKT)    &kp LC(M)     &kp LC(FSLH)      &kp LC(L)  &kp C_MUTE    &kp LEFT   &kp DOWN  &kp RIGHT  &caps_word     &kp C_PP
&trans  &kp LC(SEMI)  &kp LC(E)       &kp LC(K)     &kp LC(J)         &kp LC(H)  &kp C_VOL_DN  &kp HOME   &kp INS   &kp END    &kp PSCRN      &kp C_PREV
                                      &trans        &trans            &trans     &trans        &trans     &trans
            >;
        };

        GamKeyb {
            bindings = <
&kp TAB    &kp P     &kp V     &kp D    &kp L      &kp J     &none       &soft_off     &ext_power EP_ON  &ext_power EP_OFF  &none         &bt BT_CLR
&kp LSHFT  &kp A     &kp K     &kp U    &kp Y      &kp N     &none       &to 0         &out OUT_BLE      &out OUT_USB       &none         &none
&kp LCTRL  &kp RBKT  &kp LBKT  &kp M    &kp FSLH   &kp T     &bt BT_NXT  &bt BT_SEL 1  &bt BT_SEL 2      &bt BT_SEL 3       &bt BT_SEL 4  &none
                               &kp ESC  &kp SPACE  &kp LALT  &none       &none              &none
            >;
        };
    };
};